window {
  font-family:
    CaskaydiaCove Nerd Font,
    monospace;
  font-size: 12pt;
  color: #f4dfcd;
  background-color: rgba(30, 30, 46, 0.8);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-size: 40%;
  border-radius: 0;
  border: 0;
  color: #d4bff9;
  text-shadow: none;
  background-color: rgba(1, 121, 111, 0);
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(212, 191, 249, 0.3);
}

#lock,
#logout,
#suspend,
#shutdown,
#reboot,
#hibernate {
  background-size: 40%;
}

#lock {
  background-image: image(url("/home/yaroslav/.config/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(
    url("/home/yaroslav/.config/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/home/yaroslav/.config/wlogout/icons/sleep.png")
  );
}

#shutdown {
  background-image: image(
    url("/home/yaroslav/.config/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/home/yaroslav/.config/wlogout/icons/reboot.png")
  );
}

#hibernate {
  background-image: image(
    url("/home/yaroslav/.config/wlogout/icons/hibernate.png")
  );
}
